@import "macchiato";

* {
  all: unset; // Unsets everything so you can style everything from scratch
  font-family: 'MonaspiceNe NF';
}

// Global Styles
.bar {
  background-color: $base;
  color: $text;
}

// Styles on classes (see eww.yuck for more information)

.pill {
  background-color: $surface0;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.metric scale trough highlight {
  background-color: $pink;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: $overlay0;
  border-radius: 50px;
  min-height: 5px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}

// ~ Workspaces ~

.workspaces {
  min-width: 100px;
}

.workspaces .current {
  color: $pink;
  // background-color: $overlay0;
  border-radius: 10px;
}

